:root {
    --ref_size: 100vw;
    --btn_size: 15vw; /*5vw dla 1920px*/
    --btn_aspect_ratio: 0.6;
    --btn_font_size: 2vw;
    --tool_btn_size: 7vw;
}

body {
    font-size: 4vw;
}

select, input, button {
    font-family: sans-serif;
    font-size: 4vw;
}

#sgvWorkspaceArea {
    float:none;
    clear:both;
    width:100%;
    height:100%;
    margin: 0;
}

#sgvRenderCanvas {
    position:relative;
    height: 100%;
    width: 100%;
    object-fit:cover;
    /*touch-action: none;*/
}

.sgvUIwindow {
    position:fixed;
    left:0;
    top:0;
    z-index:100;
    width: fit-content;
    height: fit-content;
    padding:1px;
    display: block;
    background: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-radius: 10px;
    
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.sgvUIwindow .content {
    padding: 4px;
    background: 0;
    color: #fff;
    height: auto;
    width: auto;
}

.sgvUIwindow .title {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    font-family:sans-serif;
    font-weight:bold;
}

.sgvUIwindow .hidebutton {
    float: right;
    background-color: #aaa;
    color: #f00;
    padding:1px;
    font-weight:normal;
    font-size: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

.sgvUIwindow .delbutton {
    width: 100%;
    margin-top: 15px;
    background-color: #f00;
    color: #fff;
    border: solid 1px #000;
}

.sgvUIwindow .actionbutton {
    margin-top: 15px;
    /*margin-left: 25%;*/
    background-color: rgba(0, 0, 0, 0.5);
    color: #ddd;
    border: solid 1px #888;
    border-radius: 5px;
    width: var(--btn_size);
    height: calc(var(--btn_size) * var(--btn_aspect_ratio));
    margin: calc(var(--btn_size) / 12.8);
}

.sgvUIwindow .setvaluebutton {
    background-color: #080;
    color: #fff;
}

.sgvUIwindow .setvaluebutton:disabled {
    background-color: #888;
    color: #aaa;
}

.sgvUIwindow #wagaN:disabled {
    background-color: #ddd;
    color: #ccc;
}


.sgvTransparentButton {
    position:fixed;
    left:0;
    top:0;
    z-index:100;
    background-color: rgba(204,255,204,0.5);
    color: white;
    height: 48px;
    width: 48px;
    padding:1px;
    border-width: 1px;
    border-radius: 15px;
}




button.sgvTransparentButton1 {
    width: var(--btn_size);
    height: calc(var(--btn_size) * var(--btn_aspect_ratio));
    margin: calc(var(--btn_size) / 12.8);
    padding: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-top: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-bottom: solid 1px #444;
    border-right: solid 1px #444;
    /* border-radius: calc(var(--btn_size) / 6.4); */
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}

button.sgvTransparentButton1:hover {
    border-top: solid 1px #444;
    border-left: solid 1px #444;
    border-bottom: solid 1px #ddd;
    border-right: solid 1px #ddd;
    cursor: pointer;
}

button.sgvTransparentButton1 span {
    font-size: var(--btn_font_size);
    text-align: center;
    vertical-align: top;
}


button#cplClearButton {
    background-color: rgba(255,0,0,0.5);
    color: white;
}

#sgvPanelSwitch {
    left:10px;
    top:10px;
}

#sgvDlgCPL {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    width: fit-content;
    height: fit-content;
    top:0px;
}

#sgvDlgCPL div#switch {
    /*background: rgba(0, 1.0, 0, 0.5);*/
    min-width: 96vw;
    height: calc( var(--btn_size) / 4 );
    text-align: center;
    vertical-align: top;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: #aaa solid 1px;
    cursor: pointer;
}

select#cplDispValues {
    height: var(--tool_btn_size);
    width: calc(6*var(--tool_btn_size));
    font-family: monospace;
    font-weight: bold;
    font-size: 3vw;
    background-color: #444;
    color: #ddd;
    text-align: center;
    vertical-align: middle;
}

input#cplAddScopeInput {
    height: var(--tool_btn_size);
    width: calc(6*var(--tool_btn_size));
    font-family: monospace;
    font-weight: bold;
    font-size: 3vw;
    background-color: #444;
    color: #ddd;
    text-align: center;
    vertical-align: middle;
    margin:0;
    padding: 0;
    border: 0;
}

input.sgvC {
    height: var(--tool_btn_size);
    width: var(--tool_btn_size);
    padding:0;
    text-align: center;
    vertical-align: middle;
    border-top: #ddd solid 1px;
    border-left: #ddd solid 1px;
    border-bottom: #000 solid 1px;
    border-right: #000 solid 1px;
    background-color: rgba(0,0,0,0.5);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
}

input.sgvC#cplAcceptAddScope, input.sgvC#cplAddScope {
    background-image: url(pics/Add.png);
}
input.sgvC#cplSkipAddScope {
    background-image: url(pics/Undo.ico);
}
input.sgvC#cplDelScope {
    background-image: url(pics/Remove.ico);
}
input.sgvC#cplEditScope {
    background-image: url(pics/Modify.ico);
}

input.sgvC:hover {
    border-top: #000 solid 1px;
    border-left: #000 solid 1px;
    border-bottom: #ddd solid 1px;
    border-right: #ddd solid 1px;
    padding: 1px 0 0 1px;
}


#sgvMissingNodes {
    min-width: 200px;
    left:70px;
    top:200px;
    display: none;
}

#wykresy {
    /*position:relative;
    float:right;
    margin-right:20px;*/
    left:1000px;
    top:20px;
    background-color: #fcc;
    width: 400px;
    display: none;
}


#sgvConsoleBAK {
    min-width: 200px;
    /*position:relative;
    float:right;
    margin-right:20px;*/
    left:70px;
    top:200px;
    /*background-color: #fcc;*/
    width: 768px;
    height: 260px;
    display: none;
}

#sgvConsole {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;     
    width: 100%;

    bottom: 0;
    margin-top: auto;
    margin-bottom:0;

    height: 252px;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: none;
}

#sgvConsole .content {
    padding: 1px;
    margin: 0;
}

#sgvConsole #consoleHistory {
    left: 0;
    width: calc(100% - 6px);
    height: 200px;
    resize: none;
    background-color: rgba(0,0,0,0.5);
    color: #ddd;
}

#sgvConsole #commandline {
    width: calc(100% - 8px);
    background-color: rgba(0,0,0,0.5);
    color: #ddd;
}

#sgvEdgeProperties {
    display: none;
}

#sgvNodeProperties {
    display: none;
}


.sgvTransparentPanel {
    position:fixed;
    left:0;
    top:0;
    z-index:100;
    background-color: rgba(0,0,0,0.5);
    color: white;
    height: 48px;
    width: 240px;
    padding:1px;
    border-width: 1px;
    border-radius: 15px;
}

#sgvGraphCreateBtn {
    position: relative;
}

#sgvGraphLoadBtn {
    left:130px;
    top:10px;
}


#sgvConsoleSwitch {
    left:10px;
    top:70px;
}

#sgvDispModeSwitch {
    left:10px;
    top:130px;
}

#cplScope {
    text-align: center;
    padding: 5px;
    margin: 5px 0 5px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

dialog.sgvModalDialog {
    width: fit-content;
    height: fit-content;
    transition: transform var(--ease-elastic-4);
    transform: translateY(calc(var(--hide, 1) * 100vmin));
}

dialog.sgvModalDialog[open] {
    --hide: 0;
}

dialog.sgvModalDialog::backdrop {
    background: hsl(0 0% 10% / 0.5);
    backdrop-filter: blur(2px);
}


dialog#sgvDlgCreateGraph {
    background: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-radius: 10px;
}

dialog.sgvModalDialog div#buttons {
    text-align: center;
}

dialog#sgvDlgCreateGraph .content {
    background: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 4vw;
}

dialog#sgvDlgCreateGraph select {
    background: 0;
    min-width: 8vw;
    color: #fff;
    font-family: sans-serif;
    font-size: 4vw;
}

dialog#sgvDlgCreateGraph .title {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 4vw;
    padding:1vw;
}

dialog#sgvDlgCreateGraph .actionbutton {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ddd;
    border: solid 1px #888;
    border-radius: 2vw;
    width: 20vw;
    height: 10vw;
    margin: 5vw;
    font-size: 4vw;
}


dialog#sgvDlgAbout .content {
    background: #fff;
    color: #000;
    font-family: sans-serif,arial;
}

dialog#sgvDlgAbout .content .info {
    background: 0;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    color: #888;
    font-family: sans-serif,arial;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

dialog#loaderSplash {
  border:0;
  text-align: center;
  background: rgba(0, 0, 0, 0.0);
  font-size: var(--font-size-fluid-2);
  font-weight: var(--font-weight-6);
}

dialog#loaderSplash span {
    color: #fff;
  /*animation: wiggle 3s infinite;
  display: inline-block;
  transform-origin: 65%;*/
}

dialog#loaderSplash div.loader {
  margin: auto;
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid blue;
  border-right: 12px solid green;
  border-bottom: 12px solid red;
  border-left: 12px solid yellow;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}


div#sgvNodeProperties {
    font-family: sans-serif;
    font-size: 4vw;
    left:0vw;
    top:0vw;
    margin:auto;
    background:#444;
    max-height: 80vh;
    width:100vw;
    overflow: scroll;
}


div#sgvNodeProperties #tools {
    max-width:60vw;
    display: inline-block;
    background: #ff0;
    float: left;
}
div#sgvNodeProperties #tools input {
    max-width: 40vh    
}

@media (orientation: portrait) {
    div#sgvNodeProperties #svg {
        max-width:100vw;
        display: block;
    }
    
    svg#svgView {
        width:100vw;
        height:70vw;
    }
}

@media (orientation: landscape) {
    div#sgvNodeProperties #svg {
        max-width:40vw;
        display: inline-block;
        float: left;
    }

    svg#svgView {
        width:60vh;
        height:60vh;
    }
}