html, body {
    overflow: hidden;
    width: 100%;
    min-width: 600px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#workspaceDIV {
    float:none;
    clear:both;
    width:100%;
    height:100%;
    margin: 0;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 35%;
  background: rgba(0,0,0,0);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #808000;
  border-radius: 5px;
  border: 1px solid #000000;
}


input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 9px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ff00ff;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #ffff00;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 9px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ff0000;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #00ff00;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 9px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255,0,0,0.5);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(0,255,0,0.5);
}

input[type=range]#redLimit::-webkit-slider-runnable-track {
  background: rgba(255,0,0,0.5);
}
input[type=range]#redLimit::-moz-range-track {
  background: rgba(255,0,0,0.5);
}

input[type=range]#greenLimit::-webkit-slider-runnable-track {
  background: rgba(0,255,0,0.5);
}
input[type=range]#greenLimit::-moz-range-track {
  background: rgba(0,255,0,0.5);
}


input[type=range].graphLimit:disabled::-webkit-slider-runnable-track {
  background: rgba(128,128,128,0.5) !important;
}
input[type=range].graphLimit:disabled::-moz-range-track {
  background: rgba(128,128,128,0.5) !important;
}

input[type=range].graphLimit:disabled::-webkit-slider-thumb {
    display: none;
/*  background: rgba(160,160,160,1.0) !important;*/
}
input[type=range].graphLimit:disabled::-moz-range-thumb {
    display: none;
/*  background: rgba(160,160,160,1.0) !important;*/
}

span#spanRed {
    display: inline-block;
    background-color: rgba(255,0,0,0.5);
    width: 3em;
}

span#spanZero {
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    width: 3em;
}

span#spanGreen {
    display: inline-block;
    background-color: rgba(0,255,0,0.5);
    width: 3em;
}
/*
#panelBtns {
    border-top: 1px solid #000;
}
*/
#panelLimitSliders {
    margin-top:0;
    /*border-top: 1px solid #000;*/
    border-bottom: 1px solid #000;
}

