$isMobile: true !default;

/* ==================================================================*/
/* About DIALOG */

#sgvDlgAbout .content {
    background: #fff;
    color: #000;
    font-family: sans-serif,arial;

    .content .info {
        background: 0;
        border-top: 2px solid #888;
        border-bottom: 2px solid #888;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 25px;
        color: #888;
        font-family: sans-serif,arial;
    }
}

