$isMobile: true !default;

/* ==================================================================*/
/* Edge Properties */

#sgvEdgeProperties {
    @if $isMobile {
        margin:auto;
        background:#444;
        border-radius: 0;
        border: 1px solid #fff;
        @media (orientation: portrait) {
            width:90vw;
            height:45vw;
            left:5vw;
            top:5vw;
        }
        @media (orientation: landscape) {
            width:60vw;
            height:50vh;
            left:20vw;
            bottom:10vh;
        }
    }
    @else {
        height: auto;
        text-align: center;
    }
    
    .title {
        .titleText {
            
        }
        
        .hidebutton {
            @if $isMobile {
                display: none;
            }
        }
    }

    #CloseButton {
        @if $isMobile {
            @media (orientation: landscape) {
                position: absolute;
                right:4vh;
                bottom:4vh;
            }
        }
        @else {
            display: none;
        }
    }

    #DeleteButton {
        background-color: rgba(255,0,0,0.5);
        @if $isMobile {
            @media (orientation: landscape) {
                position: absolute;
                left:4vh;
                bottom:4vh;
            }
        }
        @else {
            width:80%;
        }
    }
}

