$isMobile: true !default;

/* ==================================================================*/
/* Node Properties */
#sgvNodeProperties {
    @if $isMobile {
        display: block;
        margin:auto;
        background:#444;
        border-radius: 0;
        border: 1px solid #fff;
        font-size: 1em;
        @media (orientation: portrait) {
            width:98vw;
            height:140vw;
            left:1vw;
            top:0;
        }
        @media (orientation: landscape) {
            width:80vw;
            height:fit-content;
            max-height: 90vh;
            overflow: scroll;
            left:10vw;
        }
    }
    @else {
        height: auto;
        text-align: center;
    }

    .title {
        @if $isMobile {
            border-radius: 0;
            border-bottom: 1px solid #888;
            padding:1vh;
        }

        .titleText {
            @if $isMobile {
                font-size: 1em;
            }
        }

        .hidebutton {
            @if $isMobile {
                display: none;
            }
        }
    }

    input,select,label {
        @if $isMobile {
            max-width: 40%;
            @media (orientation: portrait) {
                min-height: 2vw;
                font-size: 4vw;
            }
            @media (orientation: landscape) {
                min-height: 2vh;
            }
        }
        @else {
        }
    }

    #nodeid {
        @if $isMobile {
            @media (orientation: landscape) {
                display: block;
                position: absolute;
                left: 72vh;
                float: right;
                width: auto;
                height: auto;

            }
        }


        select {
            @if $isMobile {
                font-size: 1em;
                @media (orientation: landscape) {
                    width:8em;
                }
            }
        }
    }

    #main {
        @if $isMobile {
            font-size: 1em;
            width:100%;
            margin:0;
            padding:0;
            height:fit-content;
            text-align: center;
        }

        #svg {
            background: #fff;
            @if $isMobile {
                display: block;
                @media (orientation: portrait) {
                    margin: auto;
                    width: auto;
                    height: auto;
                }
                @media (orientation: landscape) {
                    margin: auto auto 1vh 1vh;
                    width: 70vh;
                    height: 70vh;
                    float: left;
                }
            }
            @else {
                min-width: 25em;
                min-height: 25em;
            }
        }

        #tools,#zeroInfo {
            @if $isMobile {
                display: block;
                width:auto;
                @media (orientation: portrait) {
                    height:25vw;
                }
                @media (orientation: landscape) {
                    position: absolute;
                    float: right;
                    left: 72vh;
                    top: 15vh;
                    right: 1vh;
                    height: fit-content;
                }
            }
            @else {
            }
        }

        #tools {
            @if $isMobile {
                @media (orientation: landscape) {
                    position: absolute;
                    top: 3.5em;
                }
            }

            checkbox {
                @if $isMobile {
                    @media (orientation: portrait) {
                        min-height: 2vw;
                        max-width: 40%;
                    }
                }
            }

            #LabelBlock {
                padding: 0.3em;
                border-top: 1px solid #000;
            }

            #ValueBlock {
                padding: 0.3em;
                border-bottom: 1px solid #000;
                @if $isMobile {

                }

                &:before {
                    content: 'value: '
                }
            }

            #ConnectBlock {
                padding: 0.3em;
                border-bottom: 1px solid #000;
            }
        }

        #CloseButton {
            @if $isMobile {
                position: absolute;
                @media (orientation: portrait) {
                    right:2vw;
                    bottom: 2vw;
                }
                @media (orientation: landscape) {
                    right:0;
                    bottom:0;
                }
            }
            @else {
                display: none;
            }
        }

        #DeleteButton {
            background-color: rgba(255,0,0,0.5);
            @if $isMobile {
                position: absolute;
                @media (orientation: portrait) {
                    left:2vw;
                    bottom: 2vw;
                }
                @media (orientation: landscape) {
                    left:74vh;
                    bottom:0;
                }
            }
            @else {
                width:80%;
            }
        }
    }





}
