#LimitSlidersPanel {
    margin-top:0;
    /*border-top: 1px solid #000;*/
    border-bottom: 1px solid #000;

    input[type=range] {
        -webkit-appearance: none;
        margin: 0;
        padding: 0;
        width: 34%;
        height: 0.7em;
        background: rgba(0,0,0,0);

        &:focus {
            outline: none;

            &::-webkit-slider-runnable-track {
                background: #ff00ff;
            }

            &::-webkit-slider-runnable-progress {
                background: #000;
            }

            /*
            &::-ms-fill-lower { background: rgba(255,0,0,0.5); }
            &::-ms-fill-upper { background: rgba(0,255,0,0.5); }
            */
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 100%;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 1px 1px 1px #000000;
            background: #808000;
            border-radius: 5px;
            border: 1px solid #000000;
        }

        &::-webkit-slider-thumb {
            box-shadow: 1px 1px 1px #000000;
            border: 1px solid #000000;
            height: 1em;
            width: 0.6em;
            border-radius: 0;
            background: #FFFFFF;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -6px;
        }

        &::-moz-range-track {
            width: 100%;
            height: 10px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 1px 1px 1px #000000;
            background: #ffff00;
            border-radius: 5px;
            border: 1px solid #000000;
        }

        /* &::-moz-range-progress { background-color: red; }*/

        &::-moz-range-thumb {
            box-shadow: 1px 1px 1px #000000;
            border: 1px solid #000000;
            height: 20px;
            width: 9px;
            border-radius: 5px;
            background: #FFFFFF;
            cursor: pointer;
        }

        &::-ms-track {
            width: 100%;
            height: 10px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        /*
        &::-ms-fill-lower {
            background: #ff0000;
            border: 1px solid #000000;
            border-radius: 10px;
            box-shadow: 1px 1px 1px #000000;
        }

        &::-ms-fill-upper {
            background: #00ff00;
            border: 1px solid #000000;
            border-radius: 10px;
            box-shadow: 1px 1px 1px #000000;
        }
        */

        &::-ms-thumb {
            box-shadow: 1px 1px 1px #000000;
            border: 1px solid #000000;
            height: 20px;
            width: 9px;
            border-radius: 5px;
            background: #FFFFFF;
            cursor: pointer;
        }

        &:disabled {
            &::-webkit-slider-runnable-track {
                background: rgba(128,128,128,0.5) !important;
            }

            &::-moz-range-track {
                background: rgba(128,128,128,0.5) !important;
            }

            &::-webkit-slider-thumb {
                display: none;
            }

            &::-moz-range-thumb {
                display: none;
            }
        }

        &#redLimit {
            &::-webkit-slider-runnable-track {
                background: rgba(255,0,0,0.5);
            }

            &::-moz-range-track {
                background: rgba(255,0,0,0.5);
            }
        }

        &#greenLimit {
            &::-webkit-slider-runnable-track {
                background: rgba(0,255,0,0.5);
            }

            &::-moz-range-track {
                background: rgba(0,255,0,0.5);
            }
        }
    }

    span {
        display: inline-block;
        
        @if $isMobile {
            width: 10%;
        }
        @else {
            min-width: 3em;
            max-width: 10%;
            margin: 0.5em;
        }

        &#spanRed {
            background-color: rgba(255,0,0,0.5);
        }

        &#spanZero {
            background-color: rgba(0,0,0,0.5);
        }

        &#spanGreen {
            background-color: rgba(0,255,0,0.5);
        }
    }
}
